<div class="row-fluid">
  <div id="query_form" class="span4">
    <%= render "query_form" %>
  </div>
  <div id="claim-summary-wrapper" class="span8">
    <div id="claim_summary" style><%= render "claim_summary" %></div>

  </div>
      
      
      <div id="claim_details_table" >
   
    </div>
</div>