<table align='center' class='head' width="100%" >
  <tr>
    <th colspan=2>
      <h1>
        <font face="Trebuchet MS" >
          Confidentiality Disclaimer
        </font>
      </h1>
    </th>
  </tr>
  <tr>
    <td>
      <p>

        <font size="4" face="Trebuchet MS" >
          All content included in this webpage, including but not limited to text, graphics, logos, button icons, images, audio clips,

          and software (collectively the "Content") and the collection, arrangement and assembly of the Content is the exclusive property of RevenueMed Inc.,

          and is protected by applicable U.S. and international intellectual property laws including without limitation patent, trademark and copyright law.

          The Content may not be used in any manner without our express written permission or as otherwise permitted by applicable law and,

          except as expressly set forth in this disclaimer or permitted by applicable law, any use, including without limitation reproduction,


          performance of the Content of this document is strictly prohibited.

        </font>
      </p>
    </td>
  </tr>
</table>
