<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
    <b><%= @file_name %></b> has 0 claim count and 0 svc count.<br />
    Please check the file, it has been moved to: <%= @file_location %>. <br />
    </p>
  </body>
</html>
