<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Orbograph has placed an image file <b><%= @batch_file_name %> </b> that requires manual indexing of the control XML.
      The file is placed at <%= @batch_file_location %>. Please create the index XML and load the file into the application.
      </p>
  </body>
</html>
