<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
  
    <p><br/>
        <%= simple_format(@message) %>
    <br/>
    <br/>
    <br/>
      The old value for details column is
 <br/>
    <br/>
      <%= @old_details %>
  <br/>
    <br/>
    <br/>
         The new edited value for details column is
<br/>
    <br/>
     <%= @new_details %>

    
   
     </p>
      
   
  </body>
</html>
