<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
     The site code associated with the given claim file '<%= @filename %>' received on '<%= Time.now.strftime("%d/%m/%Y") %>' at '<%= Time.now.strftime("%H:%M") %>' is not found in the system..Please create it and reload the file.
    <br/>
  </body>
</html>