<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
    We have received the OCR XML for check number '<%= @check_number %>' from batch '<%=  @batch_id %>' having batchid '<%= @batch_name %>'.<br />
    This XML will not be auto loaded into the application since the job has already been allocated to a keyer for manual data capture.<br />
    Please contact the IT department if the file needs to be loaded.
    </p>
  </body>
</html>
