<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <b><%= @edited_user.name %></b> is given permission to edit Facility Configuration by <b><%= @grant_user.name %></b> at <b><%= @edited_user.updated_at %></b> from <b><%= @access_info %></b> instance.
    </p>
  </body>
</html>
