<table>
<%= form_tag :action => 'reasoncode_accept' ,:id=>@code_id do %>
<tr>
    <th>
        Payer
    </th>
    <td>
        <%= text_field_with_auto_complete :payer, :payer ,:value => @payer %>
    </td>
</tr>
<tr>
    <th>
        Status
    </th>
    <td>
        <%= select 'form', 'status', @status %>
    </td>
</tr>
<tr>
</tr>
<tr>
    <th>
        &nbsp;
    </th>
    <td>
        <%= submit_tag "Save", :onclick => "return (confirm('Are you sure?'))",:class => 'button' %>
    </td>
</tr>
<%end %>
</tr>
</table>
