<div id="errors"></div>
<div id="temp_jobs_container">
  <h1>Temporary Jobs</h1>
  <div id="create_temp_job">
    <%= render "/admin/temp_jobs/new" %>
  </div>
  <div id="temp_jobs">
    <%= render "/admin/temp_jobs/list" %>
  </div>
</div>

