<table>
  <tr>
    <th>Code</th>
    <th>Code Description</th>
  </tr>
  <tr>
    <td><%= text_field 'hipaa_code', 'hipaa_adjustment_code' %></td>
    <td><%= text_field 'hipaa_code', 'hipaa_code_description' %></td>
  </tr>
</table>