<script language="javascript" type="text/javascript">
 function relative_url_root() {
 return "<%= app_root %>"
  }
</script>
<body onload="refresh_parent('<%= session[:batch]%>', '<%= params[:page]%>', '<%= params[:back_page]%>')">
</body>
