@import "bootstrap";

.hidden {
  display: none;
}

td.numeric {
  text-align: right;
}

.pagination {

 height: 100%;

}

.pagination ul> li> a, .pagination ul> li> span{

  padding-left: 0px;

}

.row-fluid .span4 {
width: 22%
}




.digg_pagination {
  background: white;
  cursor: default;
line-height: 10px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
margin-top: 5px;
margin-bottom: 5px;
font-size:10px;}
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;

}
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

#claim-details-wrapper {


    overflow:hidden;
    width:100%;
    height:100%
}


table {
width:100%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
border-collapse: collapse;
border-spacing: 0;
line-height: 10px;

font-size:10px;
}

td {

border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
text-align:center;
font-family:Trebuchet MS, Arial;
font-size:10px;
font-color:#333300;
text-align:left;
}
tr.even td {
background:#f9fcfe;
}

thead th {
background:#f4f9fe;
text-align:center;
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
text-align:center;
font-family:Trebuchet MS, Arial;
font-size:11px;
font-color:#333300;
}

.table-bordered {
border-collapse: collapse;
}
div.scrollWrapper{
border-bottom:1px solid #e5eff8;
border-top:1px solid #e5eff8;
margin-top: 5px;
 height: 250px;
width: 695px;
overflow: auto;

}
h6 {
font-size: 12px;
line-height: 5px;
}
.row-fluid .span4 {
width: 18%;
}
input {
display: inline-block;
line-height: 5px;
height: 22px;
padding: 2px;

}


div.scrollWrapperDetails{
border-bottom:1px solid #e5eff8;
height: 75px;
width: 845px;
overflow: auto;
border-top:1px solid #e5eff8;
margin-top: 5px;
}

div.query_form{
height: 272px;
}

.form-horizontal input{
display: inline-block;
margin-bottom: 0;
vertical-align: middle;
}
 input[type="submit"],input[type="button"]{
width: auto;
cursor: pointer;
-webkit-appearance: button;
line-height: 3px;
height: 18px;
font-size: 11px;
font-weight: normal;
margin-top: 6px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 22px;
padding: 2px 4px;
font-size: 11px;
line-height: 18px;
color: #555555;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width: 157px;
}
