/* 
    Document   : new_job_creation
    Created on : Oct 15, 2013, 4:40:35 PM
    Author     : suma.bhat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body {
    margin: 0;
    padding:0;
    background-color: #FCFCFC;
    height:100%;
}

.ui-sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
.ui-sortable li { cursor: pointer; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; height: 10px; }


li { margin: 2px 0; cursor: pointer; padding-left: 1.5em; }
li.selected { outline: 1px solid blue; }


legend {font-family: Arial; font-size: 12px}
#image_reorder_div {
    width: 100%;
    display:block;
    overflow:scroll;
}
.skeleton_container {
    width:100%;
    height:750px;
}
.sktn_scrollable_first {
    width:99%;
    height:50%;
    float:left;
    border:solid 1px #CCCCCC;
    padding-left:5px;
    overflow:scroll;
}

.sktn_scrollable_second {
    width:99%;
    height:30%;
    float:left;
    padding-left:5px;
    overflow:scroll;
}
#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

label.error { display: block; float: none; color: red; vertical-align: top; }
table {
    margin-left: 1em;
    width: 97%;
    border: 1px solid #CCC;
    background-color: #f5f5f5;
    table-layout:fixed;
}
table td.fixed {
    padding: 0.5em;
    width: 5em;
    text-align: center;
    overflow:hidden;
}
table td {
    padding: 0.5em;
    text-align: center;
    white-space:normal;
    word-wrap: break-word;
}
div.overflow {
    width:200px;
    overflow:hidden;
}
table th {
    text-align: center;
}
input {
    width: 80%;
}
input[type=submit] {
    width: 5em;
}
input[type=checkbox] {
    width: 1em;
}
textarea {
    height:15em;
    width: 95%;
}
.best_in_place {
    padding: .1m;
    cursor: hand;
    cursor: pointer;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.best_in_place:hover, #user_account .do_hover {
    padding-right: 1.5em;
    background: no-repeat right;
    background-color: #CCC;
}
.info_edit {
    float: right;
    cursor: hand;
    cursor: pointer;
}

/* Missatges Flotants */

.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #C66;
    &:first-letter { text-transform: uppercase; }
}
.purr:hover .close	{
    position: absolute;
    top: 5px;
    right: 3px;
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: url("/images/close-button.gif") no-repeat;
}