 <table>
  <tr>
    <th>Code <span class="alert"> * </span> </th>
    <th>Code Description <span class="alert"> * </span> </th>
  </tr>
  <tr>
    <td><%= text_field 'ansi_remark_code', 'adjustment_code' %></td>
    <td><%= text_field 'ansi_remark_code', 'adjustment_code_description' %></td>
  </tr>
</table>
