<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "image_types_consolidated" %>
    <%= javascript_include_tag "image_types_consolidated" %>
</head>
<body>
    <div id="container">
        <div id="page_container">
            <%=yield %>
        </div>
    </div>
 <script language="JavaScript" type="text/javascript" src="/assets/wz_tooltip.js">
 </script>
</body>
</html>
